button[mat-fab] {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color:blue;
}
.md-dialog-container {
  background-color: #000;
  width: 750px;
  height:750px;
  background-color: blue;
}

.addBtn{position: absolute; z-index: 9999; top: 20px; right: 0;}